100 % number of decision trees in this file

% These decision trees return the sum of select parents that represent encountered people (=the estimated number of distinct sick people met)

0
meeting_0_DT_0
2
-1 {(p0+p1)} 

1
meeting_0_DT_1
2
-1 {(p0+p1)} 

2
meeting_0_DT_2
2
-1 {(p0)} 

3
meeting_0_DT_3
2
-1 {(p0+p1)} 

4
meeting_0_DT_4
2
-1 {(p0+p1)} 

5
meeting_0_DT_5
2
-1 {(p0+p1)} 

6
meeting_0_DT_6
2
-1 {(p0)} 

7
meeting_0_DT_7
2
-1 {(p0+p1)} 

8
meeting_0_DT_8
2
-1 {(p0)} 

9
meeting_0_DT_9
2
-1 {(p0)} 

10
meeting_0_DT_10
2
-1 {(p0+p1)} 

11
meeting_0_DT_11
2
-1 {(p0+p1)} 

12
meeting_0_DT_12
2
-1 {(p0)} 

13
meeting_0_DT_13
2
-1 {(p0+p1)} 

14
meeting_0_DT_14
2
-1 {(p0)} 

15
meeting_0_DT_15
2
-1 {(p0+p1)} 

16
meeting_0_DT_16
2
-1 {(p0+p1)} 

17
meeting_0_DT_17
2
-1 {(p0)} 

18
meeting_0_DT_18
2
-1 {(p0)} 

19
meeting_0_DT_19
2
-1 {(p0+p1)} 

20
meeting_0_DT_20
2
-1 {(p0)} 

21
meeting_0_DT_21
2
-1 {(p0+p1)} 

22
meeting_0_DT_22
2
-1 {(p0+p1)} 

23
meeting_0_DT_23
2
-1 {(p0)} 

24
meeting_0_DT_24
2
-1 {(p0)} 

25
meeting_0_DT_25
2
-1 {(p0+p1)} 

26
meeting_0_DT_26
2
-1 {(p0+p1)} 

27
meeting_0_DT_27
2
-1 {(p0)} 

28
meeting_0_DT_28
2
-1 {(p0+p1)} 

29
meeting_0_DT_29
2
-1 {(p0)} 

30
meeting_0_DT_30
2
-1 {(p0)} 

31
meeting_0_DT_31
2
-1 {(p0+p1)} 

32
meeting_0_DT_32
2
-1 {(p0+p1)} 

33
meeting_0_DT_33
2
-1 {(p0)} 

34
meeting_0_DT_34
2
-1 {(p0+p1)} 

35
meeting_0_DT_35
2
-1 {(p0+p1)} 

36
meeting_0_DT_36
2
-1 {(p0)} 

37
meeting_0_DT_37
2
-1 {(p0)} 

38
meeting_0_DT_38
2
-1 {(p0)} 

39
meeting_0_DT_39
2
-1 {(p0)} 

40
meeting_0_DT_40
2
-1 {(p0)} 

41
meeting_0_DT_41
2
-1 {(p0)} 

42
meeting_0_DT_42
2
-1 {(p0)} 

43
meeting_0_DT_43
2
-1 {(p0+p1)} 

44
meeting_0_DT_44
2
-1 {(p0)} 

45
meeting_0_DT_45
2
-1 {(p0+p1)} 

46
meeting_0_DT_46
2
-1 {(p0+p1)} 

47
meeting_0_DT_47
2
-1 {(p0+p1)} 

48
meeting_0_DT_48
2
-1 {(p0+p1)} 

49
meeting_0_DT_49
2
-1 {(p0+p1)} 

50
meeting_0_DT_50
2
-1 {(p0)} 

51
meeting_0_DT_51
2
-1 {(p0)} 

52
meeting_0_DT_52
2
-1 {(p0)} 

53
meeting_0_DT_53
2
-1 {(p0)} 

54
meeting_0_DT_54
2
-1 {(p0)} 

55
meeting_0_DT_55
2
-1 {(p0+p1)} 

56
meeting_0_DT_56
2
-1 {(p0)} 

57
meeting_0_DT_57
2
-1 {(p0+p1)} 

58
meeting_0_DT_58
2
-1 {(p0+p1)} 

59
meeting_0_DT_59
2
-1 {(p0+p1)} 

60
meeting_0_DT_60
2
-1 {(p0)} 

61
meeting_0_DT_61
2
-1 {(p0+p1)} 

62
meeting_0_DT_62
2
-1 {(p0)} 

63
meeting_0_DT_63
2
-1 {(p0+p1)} 

64
meeting_0_DT_64
2
-1 {(p0)} 

65
meeting_0_DT_65
2
-1 {(p0+p1)} 

66
meeting_0_DT_66
2
-1 {(p0)} 

67
meeting_0_DT_67
2
-1 {(p0)} 

68
meeting_0_DT_68
2
-1 {(p0)} 

69
meeting_0_DT_69
2
-1 {(p0)} 

70
meeting_0_DT_70
2
-1 {(p0)} 

71
meeting_0_DT_71
2
-1 {(p0+p1)} 

72
meeting_0_DT_72
2
-1 {(p0)} 

73
meeting_0_DT_73
2
-1 {(p0)} 

74
meeting_0_DT_74
2
-1 {(p0)} 

75
meeting_0_DT_75
2
-1 {(p0+p1)} 

76
meeting_0_DT_76
2
-1 {(p0+p1)} 

77
meeting_0_DT_77
2
-1 {(p0)} 

78
meeting_0_DT_78
2
-1 {(p0)} 

79
meeting_0_DT_79
2
-1 {(p0)} 

80
meeting_0_DT_80
2
-1 {(p0)} 

81
meeting_0_DT_81
2
-1 {(p0)} 

82
meeting_0_DT_82
2
-1 {(p0)} 

83
meeting_0_DT_83
2
-1 {(p0)} 

84
meeting_0_DT_84
2
-1 {(p0)} 

85
meeting_0_DT_85
2
-1 {(p0)} 

86
meeting_0_DT_86
2
-1 {(p0+p1)} 

87
meeting_0_DT_87
2
-1 {(p0+p1)} 

88
meeting_0_DT_88
2
-1 {(p0)} 

89
meeting_0_DT_89
2
-1 {(p0+p1)} 

90
meeting_0_DT_90
2
-1 {(p0+p1)} 

91
meeting_0_DT_91
2
-1 {(p0)} 

92
meeting_0_DT_92
2
-1 {(p0+p1)} 

93
meeting_0_DT_93
2
-1 {(p0)} 

94
meeting_0_DT_94
2
-1 {(p0+p1)} 

95
meeting_0_DT_95
2
-1 {(p0+p1)} 

96
meeting_0_DT_96
2
-1 {(p0+p1)} 

97
meeting_0_DT_97
2
-1 {(p0+p1)} 

98
meeting_0_DT_98
2
-1 {(p0+p1)} 

99
meeting_0_DT_99
2
-1 {(p0)} 
