100 % number of decision trees in this file

% These decision trees return the sum of select parents that represent encountered people (=the estimated number of distinct sick people met)

0
meeting_2_DT_0
2
-1 {(p0)} 

1
meeting_2_DT_1
2
-1 {(p0+p1)} 

2
meeting_2_DT_2
2
-1 {(p0)} 

3
meeting_2_DT_3
2
-1 {(p0+p1)} 

4
meeting_2_DT_4
2
-1 {(p0)} 

5
meeting_2_DT_5
2
-1 {(p0)} 

6
meeting_2_DT_6
2
-1 {(p0+p1)} 

7
meeting_2_DT_7
2
-1 {(p0)} 

8
meeting_2_DT_8
2
-1 {(p0+p1)} 

9
meeting_2_DT_9
2
-1 {(p0)} 

10
meeting_2_DT_10
2
-1 {(p0+p1)} 

11
meeting_2_DT_11
2
-1 {(p0)} 

12
meeting_2_DT_12
2
-1 {(p0)} 

13
meeting_2_DT_13
2
-1 {(p0+p1)} 

14
meeting_2_DT_14
2
-1 {(p0)} 

15
meeting_2_DT_15
2
-1 {(p0+p1)} 

16
meeting_2_DT_16
2
-1 {(p0+p1)} 

17
meeting_2_DT_17
2
-1 {(p0)} 

18
meeting_2_DT_18
2
-1 {(p0)} 

19
meeting_2_DT_19
2
-1 {(p0)} 

20
meeting_2_DT_20
2
-1 {(p0+p1)} 

21
meeting_2_DT_21
2
-1 {(p0)} 

22
meeting_2_DT_22
2
-1 {(p0)} 

23
meeting_2_DT_23
2
-1 {(p0+p1)} 

24
meeting_2_DT_24
2
-1 {(p0+p1)} 

25
meeting_2_DT_25
2
-1 {(p0)} 

26
meeting_2_DT_26
2
-1 {(p0)} 

27
meeting_2_DT_27
2
-1 {(p0+p1)} 

28
meeting_2_DT_28
2
-1 {(p0)} 

29
meeting_2_DT_29
2
-1 {(p0)} 

30
meeting_2_DT_30
2
-1 {(p0+p1)} 

31
meeting_2_DT_31
2
-1 {(p0+p1)} 

32
meeting_2_DT_32
2
-1 {(p0+p1)} 

33
meeting_2_DT_33
2
-1 {(p0+p1)} 

34
meeting_2_DT_34
2
-1 {(p0+p1)} 

35
meeting_2_DT_35
2
-1 {(p0+p1)} 

36
meeting_2_DT_36
2
-1 {(p0)} 

37
meeting_2_DT_37
2
-1 {(p0)} 

38
meeting_2_DT_38
2
-1 {(p0+p1)} 

39
meeting_2_DT_39
2
-1 {(p0)} 

40
meeting_2_DT_40
2
-1 {(p0+p1)} 

41
meeting_2_DT_41
2
-1 {(p0)} 

42
meeting_2_DT_42
2
-1 {(p0+p1)} 

43
meeting_2_DT_43
2
-1 {(p0)} 

44
meeting_2_DT_44
2
-1 {(p0+p1)} 

45
meeting_2_DT_45
2
-1 {(p0+p1)} 

46
meeting_2_DT_46
2
-1 {(p0+p1)} 

47
meeting_2_DT_47
2
-1 {(p0)} 

48
meeting_2_DT_48
2
-1 {(p0+p1)} 

49
meeting_2_DT_49
2
-1 {(p0)} 

50
meeting_2_DT_50
2
-1 {(p0)} 

51
meeting_2_DT_51
2
-1 {(p0)} 

52
meeting_2_DT_52
2
-1 {(p0+p1)} 

53
meeting_2_DT_53
2
-1 {(p0+p1)} 

54
meeting_2_DT_54
2
-1 {(p0+p1)} 

55
meeting_2_DT_55
2
-1 {(p0+p1)} 

56
meeting_2_DT_56
2
-1 {(p0+p1)} 

57
meeting_2_DT_57
2
-1 {(p0)} 

58
meeting_2_DT_58
2
-1 {(p0+p1)} 

59
meeting_2_DT_59
2
-1 {(p0)} 

60
meeting_2_DT_60
2
-1 {(p0)} 

61
meeting_2_DT_61
2
-1 {(p0)} 

62
meeting_2_DT_62
2
-1 {(p0+p1)} 

63
meeting_2_DT_63
2
-1 {(p0)} 

64
meeting_2_DT_64
2
-1 {(p0)} 

65
meeting_2_DT_65
2
-1 {(p0+p1)} 

66
meeting_2_DT_66
2
-1 {(p0+p1)} 

67
meeting_2_DT_67
2
-1 {(p0)} 

68
meeting_2_DT_68
2
-1 {(p0)} 

69
meeting_2_DT_69
2
-1 {(p0)} 

70
meeting_2_DT_70
2
-1 {(p0+p1)} 

71
meeting_2_DT_71
2
-1 {(p0)} 

72
meeting_2_DT_72
2
-1 {(p0)} 

73
meeting_2_DT_73
2
-1 {(p0+p1)} 

74
meeting_2_DT_74
2
-1 {(p0+p1)} 

75
meeting_2_DT_75
2
-1 {(p0)} 

76
meeting_2_DT_76
2
-1 {(p0+p1)} 

77
meeting_2_DT_77
2
-1 {(p0+p1)} 

78
meeting_2_DT_78
2
-1 {(p0)} 

79
meeting_2_DT_79
2
-1 {(p0+p1)} 

80
meeting_2_DT_80
2
-1 {(p0)} 

81
meeting_2_DT_81
2
-1 {(p0)} 

82
meeting_2_DT_82
2
-1 {(p0+p1)} 

83
meeting_2_DT_83
2
-1 {(p0+p1)} 

84
meeting_2_DT_84
2
-1 {(p0+p1)} 

85
meeting_2_DT_85
2
-1 {(p0+p1)} 

86
meeting_2_DT_86
2
-1 {(p0+p1)} 

87
meeting_2_DT_87
2
-1 {(p0)} 

88
meeting_2_DT_88
2
-1 {(p0)} 

89
meeting_2_DT_89
2
-1 {(p0)} 

90
meeting_2_DT_90
2
-1 {(p0+p1)} 

91
meeting_2_DT_91
2
-1 {(p0)} 

92
meeting_2_DT_92
2
-1 {(p0+p1)} 

93
meeting_2_DT_93
2
-1 {(p0)} 

94
meeting_2_DT_94
2
-1 {(p0+p1)} 

95
meeting_2_DT_95
2
-1 {(p0+p1)} 

96
meeting_2_DT_96
2
-1 {(p0)} 

97
meeting_2_DT_97
2
-1 {(p0+p1)} 

98
meeting_2_DT_98
2
-1 {(p0)} 

99
meeting_2_DT_99
2
-1 {(p0+p1)} 
