100 % number of decision trees in this file

% These decision trees return the sum of select parents that represent encountered people (=the estimated number of distinct sick people met)

0
meeting_1_DT_0
2
-1 {(p0)} 

1
meeting_1_DT_1
2
-1 {(p0+p1)} 

2
meeting_1_DT_2
2
-1 {(p0)} 

3
meeting_1_DT_3
2
-1 {(p0)} 

4
meeting_1_DT_4
2
-1 {(p0+p1)} 

5
meeting_1_DT_5
2
-1 {(p0)} 

6
meeting_1_DT_6
2
-1 {(p0+p1)} 

7
meeting_1_DT_7
2
-1 {(p0)} 

8
meeting_1_DT_8
2
-1 {(p0)} 

9
meeting_1_DT_9
2
-1 {(p0+p1)} 

10
meeting_1_DT_10
2
-1 {(p0)} 

11
meeting_1_DT_11
2
-1 {(p0+p1)} 

12
meeting_1_DT_12
2
-1 {(p0+p1)} 

13
meeting_1_DT_13
2
-1 {(p0+p1)} 

14
meeting_1_DT_14
2
-1 {(p0)} 

15
meeting_1_DT_15
2
-1 {(p0)} 

16
meeting_1_DT_16
2
-1 {(p0)} 

17
meeting_1_DT_17
2
-1 {(p0+p1)} 

18
meeting_1_DT_18
2
-1 {(p0+p1)} 

19
meeting_1_DT_19
2
-1 {(p0)} 

20
meeting_1_DT_20
2
-1 {(p0+p1)} 

21
meeting_1_DT_21
2
-1 {(p0)} 

22
meeting_1_DT_22
2
-1 {(p0+p1)} 

23
meeting_1_DT_23
2
-1 {(p0)} 

24
meeting_1_DT_24
2
-1 {(p0+p1)} 

25
meeting_1_DT_25
2
-1 {(p0+p1)} 

26
meeting_1_DT_26
2
-1 {(p0)} 

27
meeting_1_DT_27
2
-1 {(p0)} 

28
meeting_1_DT_28
2
-1 {(p0)} 

29
meeting_1_DT_29
2
-1 {(p0)} 

30
meeting_1_DT_30
2
-1 {(p0)} 

31
meeting_1_DT_31
2
-1 {(p0+p1)} 

32
meeting_1_DT_32
2
-1 {(p0+p1)} 

33
meeting_1_DT_33
2
-1 {(p0)} 

34
meeting_1_DT_34
2
-1 {(p0)} 

35
meeting_1_DT_35
2
-1 {(p0)} 

36
meeting_1_DT_36
2
-1 {(p0+p1)} 

37
meeting_1_DT_37
2
-1 {(p0+p1)} 

38
meeting_1_DT_38
2
-1 {(p0)} 

39
meeting_1_DT_39
2
-1 {(p0+p1)} 

40
meeting_1_DT_40
2
-1 {(p0)} 

41
meeting_1_DT_41
2
-1 {(p0)} 

42
meeting_1_DT_42
2
-1 {(p0)} 

43
meeting_1_DT_43
2
-1 {(p0+p1)} 

44
meeting_1_DT_44
2
-1 {(p0)} 

45
meeting_1_DT_45
2
-1 {(p0+p1)} 

46
meeting_1_DT_46
2
-1 {(p0+p1)} 

47
meeting_1_DT_47
2
-1 {(p0)} 

48
meeting_1_DT_48
2
-1 {(p0+p1)} 

49
meeting_1_DT_49
2
-1 {(p0+p1)} 

50
meeting_1_DT_50
2
-1 {(p0+p1)} 

51
meeting_1_DT_51
2
-1 {(p0)} 

52
meeting_1_DT_52
2
-1 {(p0+p1)} 

53
meeting_1_DT_53
2
-1 {(p0+p1)} 

54
meeting_1_DT_54
2
-1 {(p0)} 

55
meeting_1_DT_55
2
-1 {(p0)} 

56
meeting_1_DT_56
2
-1 {(p0+p1)} 

57
meeting_1_DT_57
2
-1 {(p0+p1)} 

58
meeting_1_DT_58
2
-1 {(p0+p1)} 

59
meeting_1_DT_59
2
-1 {(p0)} 

60
meeting_1_DT_60
2
-1 {(p0)} 

61
meeting_1_DT_61
2
-1 {(p0)} 

62
meeting_1_DT_62
2
-1 {(p0+p1)} 

63
meeting_1_DT_63
2
-1 {(p0)} 

64
meeting_1_DT_64
2
-1 {(p0)} 

65
meeting_1_DT_65
2
-1 {(p0+p1)} 

66
meeting_1_DT_66
2
-1 {(p0+p1)} 

67
meeting_1_DT_67
2
-1 {(p0)} 

68
meeting_1_DT_68
2
-1 {(p0)} 

69
meeting_1_DT_69
2
-1 {(p0+p1)} 

70
meeting_1_DT_70
2
-1 {(p0)} 

71
meeting_1_DT_71
2
-1 {(p0+p1)} 

72
meeting_1_DT_72
2
-1 {(p0+p1)} 

73
meeting_1_DT_73
2
-1 {(p0)} 

74
meeting_1_DT_74
2
-1 {(p0+p1)} 

75
meeting_1_DT_75
2
-1 {(p0+p1)} 

76
meeting_1_DT_76
2
-1 {(p0)} 

77
meeting_1_DT_77
2
-1 {(p0+p1)} 

78
meeting_1_DT_78
2
-1 {(p0+p1)} 

79
meeting_1_DT_79
2
-1 {(p0)} 

80
meeting_1_DT_80
2
-1 {(p0)} 

81
meeting_1_DT_81
2
-1 {(p0)} 

82
meeting_1_DT_82
2
-1 {(p0+p1)} 

83
meeting_1_DT_83
2
-1 {(p0+p1)} 

84
meeting_1_DT_84
2
-1 {(p0+p1)} 

85
meeting_1_DT_85
2
-1 {(p0+p1)} 

86
meeting_1_DT_86
2
-1 {(p0+p1)} 

87
meeting_1_DT_87
2
-1 {(p0+p1)} 

88
meeting_1_DT_88
2
-1 {(p0)} 

89
meeting_1_DT_89
2
-1 {(p0)} 

90
meeting_1_DT_90
2
-1 {(p0+p1)} 

91
meeting_1_DT_91
2
-1 {(p0+p1)} 

92
meeting_1_DT_92
2
-1 {(p0)} 

93
meeting_1_DT_93
2
-1 {(p0+p1)} 

94
meeting_1_DT_94
2
-1 {(p0)} 

95
meeting_1_DT_95
2
-1 {(p0+p1)} 

96
meeting_1_DT_96
2
-1 {(p0)} 

97
meeting_1_DT_97
2
-1 {(p0)} 

98
meeting_1_DT_98
2
-1 {(p0)} 

99
meeting_1_DT_99
2
-1 {(p0+p1)} 
