1 %% number of decision trees in this file

% Conditioned on a given time step, this decision tree returns the sum of select parents that represent encountered people (=the estimated number of distinct sick people met)

0
meeting_0_DT
3
-1 {p1+p2} 
