100 % number of decision trees in this file

% These decision trees return the sum of select parents that represent encountered people (=the estimated number of distinct sick people met)

0
meeting_3_DT_0
3
-1 {(p0+p1)} 

1
meeting_3_DT_1
3
-1 {(p0)} 

2
meeting_3_DT_2
3
-1 {(p0)} 

3
meeting_3_DT_3
3
-1 {(p0+p1)} 

4
meeting_3_DT_4
3
-1 {(p0+p1)} 

5
meeting_3_DT_5
3
-1 {(p0+p1)} 

6
meeting_3_DT_6
3
-1 {(p0+p1)} 

7
meeting_3_DT_7
3
-1 {(p0)} 

8
meeting_3_DT_8
3
-1 {(p0)} 

9
meeting_3_DT_9
3
-1 {(p0)} 

10
meeting_3_DT_10
3
-1 {(p0)} 

11
meeting_3_DT_11
3
-1 {(p0+p1)} 

12
meeting_3_DT_12
3
-1 {(p0+p1)} 

13
meeting_3_DT_13
3
-1 {(p0+p1)} 

14
meeting_3_DT_14
3
-1 {(p0+p1)} 

15
meeting_3_DT_15
3
-1 {(p0+p1)} 

16
meeting_3_DT_16
3
-1 {(p0+p1)} 

17
meeting_3_DT_17
3
-1 {(p0)} 

18
meeting_3_DT_18
3
-1 {(p0+p1)} 

19
meeting_3_DT_19
3
-1 {(p0)} 

20
meeting_3_DT_20
3
-1 {(p0)} 

21
meeting_3_DT_21
3
-1 {(p0+p1)} 

22
meeting_3_DT_22
3
-1 {(p0+p1)} 

23
meeting_3_DT_23
3
-1 {(p0)} 

24
meeting_3_DT_24
3
-1 {(p0+p1)} 

25
meeting_3_DT_25
3
-1 {(p0+p1)} 

26
meeting_3_DT_26
3
-1 {(p0+p1)} 

27
meeting_3_DT_27
3
-1 {(p0+p1)} 

28
meeting_3_DT_28
3
-1 {(p0+p1)} 

29
meeting_3_DT_29
3
-1 {(p0)} 

30
meeting_3_DT_30
3
-1 {(p0)} 

31
meeting_3_DT_31
3
-1 {(p0)} 

32
meeting_3_DT_32
3
-1 {(p0+p1)} 

33
meeting_3_DT_33
3
-1 {(p0+p1)} 

34
meeting_3_DT_34
3
-1 {(p0+p1)} 

35
meeting_3_DT_35
3
-1 {(p0)} 

36
meeting_3_DT_36
3
-1 {(p0+p1)} 

37
meeting_3_DT_37
3
-1 {(p0)} 

38
meeting_3_DT_38
3
-1 {(p0)} 

39
meeting_3_DT_39
3
-1 {(p0+p1)} 

40
meeting_3_DT_40
3
-1 {(p0)} 

41
meeting_3_DT_41
3
-1 {(p0)} 

42
meeting_3_DT_42
3
-1 {(p0+p1)} 

43
meeting_3_DT_43
3
-1 {(p0+p1)} 

44
meeting_3_DT_44
3
-1 {(p0)} 

45
meeting_3_DT_45
3
-1 {(p0+p1)} 

46
meeting_3_DT_46
3
-1 {(p0+p1)} 

47
meeting_3_DT_47
3
-1 {(p0+p1)} 

48
meeting_3_DT_48
3
-1 {(p0)} 

49
meeting_3_DT_49
3
-1 {(p0+p1)} 

50
meeting_3_DT_50
3
-1 {(p0+p1)} 

51
meeting_3_DT_51
3
-1 {(p0)} 

52
meeting_3_DT_52
3
-1 {(p0)} 

53
meeting_3_DT_53
3
-1 {(p0)} 

54
meeting_3_DT_54
3
-1 {(p0)} 

55
meeting_3_DT_55
3
-1 {(p0+p1)} 

56
meeting_3_DT_56
3
-1 {(p0+p1)} 

57
meeting_3_DT_57
3
-1 {(p0+p1)} 

58
meeting_3_DT_58
3
-1 {(p0)} 

59
meeting_3_DT_59
3
-1 {(p0)} 

60
meeting_3_DT_60
3
-1 {(p0)} 

61
meeting_3_DT_61
3
-1 {(p0+p1)} 

62
meeting_3_DT_62
3
-1 {(p0)} 

63
meeting_3_DT_63
3
-1 {(p0)} 

64
meeting_3_DT_64
3
-1 {(p0+p1)} 

65
meeting_3_DT_65
3
-1 {(p0+p1)} 

66
meeting_3_DT_66
3
-1 {(p0+p1)} 

67
meeting_3_DT_67
3
-1 {(p0)} 

68
meeting_3_DT_68
3
-1 {(p0+p1)} 

69
meeting_3_DT_69
3
-1 {(p0)} 

70
meeting_3_DT_70
3
-1 {(p0+p1)} 

71
meeting_3_DT_71
3
-1 {(p0)} 

72
meeting_3_DT_72
3
-1 {(p0+p1)} 

73
meeting_3_DT_73
3
-1 {(p0+p1)} 

74
meeting_3_DT_74
3
-1 {(p0)} 

75
meeting_3_DT_75
3
-1 {(p0+p1)} 

76
meeting_3_DT_76
3
-1 {(p0)} 

77
meeting_3_DT_77
3
-1 {(p0)} 

78
meeting_3_DT_78
3
-1 {(p0)} 

79
meeting_3_DT_79
3
-1 {(p0)} 

80
meeting_3_DT_80
3
-1 {(p0)} 

81
meeting_3_DT_81
3
-1 {(p0+p1)} 

82
meeting_3_DT_82
3
-1 {(p0+p1)} 

83
meeting_3_DT_83
3
-1 {(p0)} 

84
meeting_3_DT_84
3
-1 {(p0+p1)} 

85
meeting_3_DT_85
3
-1 {(p0+p1)} 

86
meeting_3_DT_86
3
-1 {(p0)} 

87
meeting_3_DT_87
3
-1 {(p0)} 

88
meeting_3_DT_88
3
-1 {(p0+p1)} 

89
meeting_3_DT_89
3
-1 {(p0)} 

90
meeting_3_DT_90
3
-1 {(p0)} 

91
meeting_3_DT_91
3
-1 {(p0)} 

92
meeting_3_DT_92
3
-1 {(p0)} 

93
meeting_3_DT_93
3
-1 {(p0+p1)} 

94
meeting_3_DT_94
3
-1 {(p0)} 

95
meeting_3_DT_95
3
-1 {(p0)} 

96
meeting_3_DT_96
3
-1 {(p0)} 

97
meeting_3_DT_97
3
-1 {(p0+p1)} 

98
meeting_3_DT_98
3
-1 {(p0+p1)} 

99
meeting_3_DT_99
3
-1 {(p0)} 
