@reboot cd /root/fountin/frontend/ && ./prod_run_webapp.sh
@reboot cd /root/fountin/backend/  && ./run_geod_prod.sh

# Check on db replication every half hour
#0,30 * * * * python /root/fountin/backend/replicate.py http://192.237.163.178:5984 http://166.78.236.179:5984 --continuous --database=m

# Periodically re-index select views
0,31 * * * * /root/fountin/backend/reindex_view.sh by_day_sick by_day_all_geo &> /dev/null

# Reboot geodemon each day before midnight NY time
55 3 * * * cd /root/fountin/backend/  && ./run_geod_prod.sh

# Periodically delete tweets older than 5 days from the time of execution
0,17 * * * * cd /root/fountin/backend/ && python -OO delete_docs_over_5_days_old.py m
