<div class="modal-report">
  <div class="modal-report-prompt pull-left">How are you feeling?</div>
  <div class="modal-report-close-button pull-right">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-report-slider-wrapper">
    <div id="modal_report_slider"></div>
    <div class="modal-report-slider-text-row">
      <span class="modal-report-slider-text" id="slider_text_worst">Awful</span>
      <span class="modal-report-slider-text" id="slider_text_worse">Sick</span>
      <span class="modal-report-slider-text" id="slider_text_middle">Yuck</span>
      <span class="modal-report-slider-text" id="slider_text_better">Meh</span>
      <span class="modal-report-slider-text" id="slider_text_best">Good</span>
    </div>
  </div>
  <div class="modal-report-hr"></div>
  <div class="modal-report-symptoms">
    <div class="modal-report-symptoms-column pull-left">
      <ul>
        <li class="modal-report-symptom"><span></span>Sore throat</li>
        <li class="modal-report-symptom"><span></span>Runny nose</li>
        <li class="modal-report-symptom"><span></span>Fever</li>
        <li class="modal-report-symptom"><span></span>Coughing</li>
        <li class="modal-report-symptom"><span></span>Abdominal pain</li>
      </ul>
    </div>
    <div class="modal-report-symptoms-column pull-right">
      <ul>
        <li class="modal-report-symptom"><span></span>Headache</li>
        <li class="modal-report-symptom"><span></span>Upsest stomach</li>
        <li class="modal-report-symptom"><span></span>Chills</li>
        <li class="modal-report-symptom"><span></span>Vomiting</li>
        <li class="modal-report-symptom" id="modal_report_no_symptoms"><span class="active"></span>None</li>
      </ul>
    </div>
  </div>
  <div class="modal-report-submit-button">
    <button type="button" id="modal_report_submit" class="btn btn-info">Submit</button>
  </div>
</div>