<div class="traffic-control-ui">
	<span>Traffic</span>
	<div class="gmap-control-legend">
		<ul>
			<li><span style="background-color: #30ac3e">&nbsp;&nbsp;</span><span
				style="color: #30ac3e"> &gt; 80 km per hour</span></li>
			<li><span style="background-color: #ffcf00">&nbsp;&nbsp;</span><span
				style="color: #ffcf00"> 40 - 80 km per hour</span></li>
			<li><span style="background-color: #ff0000">&nbsp;&nbsp;</span><span
				style="color: #ff0000"> &lt; 40 km per hour</span></li>
			<li><span style="background-color: #c0c0c0">&nbsp;&nbsp;</span><span
				style="color: #c0c0c0"> No data available</span></li>
		</ul>
	</div>
</div>